<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Staff</h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"></h5></div>


<div id="product_listing_container">
    
   <% @staffs.each do |staff| %>
   <table id="staff">
       <tr>
           <td><%= image_tag staff.photo.url(:thumb), :align => 'left' %>
           <span class="staff_name"><%=h staff.name %></span><br>
           <span class="staff_link"><%= link_to staff.link, staff.link %></span><br>
           <span class="staff_bio"><%=h staff.bio %></span><td>
       </tr>    
       <tr>
           <td><%= link_to 'Edit', edit_staff_path(staff) %> | 
               <%= link_to 'Destroy', staff, :confirm => 'Are you sure?', :method => :delete %></td>
       </tr>
    </table>
    <% end %>
    <p>&nbsp;</p>
    <p><%= link_to 'New staff', new_staff_path %></p>
</div>
    
    <%= render :partial => 'shared/about_menu' %>
<p id="clear"></p>
</div>

<%= render :partial => 'shared/interior_footer' %>