<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Wish List</h6>
    </div>
    
    <div id="interior_sub_head"></div>

<div id="interior_right">
    <%= @page.body %> 
</div>

<div id="contact_form">

<% form_tag :action => "wish_list" do %>
     <p>
       <%= label :email, :name, "Name:" %><br />
       <%= text_field :email, :name %>
     </p>

     <p>
       <%= label :email, :address, "Your Email Address:" %><br />
       <%= text_field :email, :address %>
     </p>
     <p>
            <%= label :email, :phone, "Phone Number:" %><br />
            <%= text_field :email, :phone %>
     </p>
  
     <p>
          <%= label :email, :product, "Whatcha Lookin For:" %><br />
          <%= text_area :email, :product, :rows => 8, :cols => 50  %>
     </p>

     <p>
       <%= submit_tag "Submit" %>
     </p>
   <% end %>
   
   </div>
   </div>

      <%= render :partial => 'shared/interior_footer' %>