<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Edit a Guest</h6>
    </div>
    
    <div id="interior_sub_head"></div>
<div id="interior_pad">
    
<h1>Editing visitor</h1>

<% form_for(@visitor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @visitor %> |
<%= link_to 'Back', visitors_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>