
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Visitors</p>
    </div>
    
    <div id="cb_header_bg"><p></p></div>
    
<h1>Editing visitor</h1>

<% form_for(@visitor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @visitor %> |
<%= link_to 'Back', visitors_path %>


<div id="interior_footer"><p>&copy; EMERALD CITY GUITARS | <%= link_to 'Privacy Policy', privacy_path %> | Site by <%= link_to "Ravenna Interactive", "http://ravennainteractive.com" %></p></div>