<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Recent Guests</h6>
    </div>
    
    <div id="interior_sub_head"></div>

<div id="visitor_listing"
<% @visitors.each do |visitor| %>
<div id="visitor">
    <p>
       
       <%= link_to(image_tag(visitor.photo.url(:visitor)), visitor.photo.url(:original), :class => "thickbox") %>
       <br>
        <%=h visitor.caption %>
    </p>
    <% if logged_in? %> 
    <p><%= link_to 'Edit', edit_visitor_path(visitor) %> | <%= link_to 'Destroy', visitor, :confirm => 'Are you sure?', :method => :delete %>
    </p><% end %>
</div>

<% end %>

 <% if logged_in? %> 
 <p><%= link_to 'New Guest', new_visitor_path %></p>
 <% end %>
</div>

<%= render :partial => 'shared/about_menu' %>


<p id="clear"></p>
      
</div>

<%= render :partial => 'shared/interior_footer' %>

