
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Visitors</p>
    </div>
    
    <div id="cb_header_bg"><p></p></div>

<% @visitors.each do |visitor| %>
<div id="visitor">
    <p>
       <%= image_tag visitor.photo.url(:visitor)%><br>
        <%=h visitor.caption %>
    </p>
    
    <p><%= link_to 'Show', visitor %> | 
       <%= link_to 'Edit', edit_visitor_path(visitor) %> | 
       <%= link_to 'Destroy', visitor, :confirm => 'Are you sure?', :method => :delete %>
    </p>
</div>
<% end %>

    <p id="clear">
        <%= link_to 'New visitor', new_visitor_path %>
    </p>
</div>

<div id="interior_footer"><p>&copy; EMERALD CITY GUITARS | <%= link_to 'Privacy Policy', privacy_path %> | Site by <%= link_to "Ravenna Interactive", "http://ravennainteractive.com" %></p></div>