<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">New Guest</h6>
    </div>
    
    <div id="interior_sub_head"></div>
<div id="interior_pad">

<% form_for @visitor, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>   
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', visitors_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>