
<%= render :partial => 'shared/interior_hero' %>

<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Edit the Banner</p>
    </div>
    
    <div id="interior_sub_head"><p></p></div>
  
<div id="interior_pad">

<% form_for(@banner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><% if @banner.photo.url.nil? %>
            <%= f.label :photo %><br>
            <%= f.file_field :photo %>
     <% else %>
            <%= image_tag @banner.photo.url(:thumb) %> |  Delete Photo: <%= f.check_box(:delete_photo) %>
     <% end %>
  </p>
  <p>
    <%= f.label :switch %><br />
    <%= f.check_box :switch %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>
