<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Edit the Banner</p>
    </div>
    
    <div id="cb_header_bg"><p></p></div>


<% form_for(@banner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :switch %><br />
    <%= f.check_box :switch %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>

</div>
<div id="interior_footer"><p>&copy; EMERALD CITY GUITARS | <%= link_to 'Privacy Policy', privacy_path %> | Site by <%= link_to "Ravenna Interactive", "http://ravennainteractive.com" %></p></div>
