
<%= render :partial => 'shared/interior_hero' %>

<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Edit the Banner</p>
    </div>
    
    <div id="interior_sub_head"><p></p></div>
  
<div id="interior_pad">
    

<% form_for @banner, :html => { :multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p><%= f.label :photo %><br>
      <%= f.file_field :photo %>
  </p>
  <p>
    Banner On/Off<br />
    <%= f.check_box :switch %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', banners_path %>

</div>
</div>
<%= render :partial => 'shared/interior_footer' %>