<div id="brands_nav_container">
           <div id="brand_list">
               <ul id="about_nav">
                   <!-- link_to_unless_current -->
                   <li><%= link_to 'Staff', staffs_path %></li>
                   <li><%= link_to 'History', history_path%></li>
                   <li><%= link_to 'Shop Info', shop_info_path%></li>
                   <li><%= link_to 'Guests to the Shop', visitors_path %></li>
                   <li><%= link_to 'Repairs', repairs_path %></li>
               <ul>
           </div>
           <div id="brands_listing_bottom"></div>
      </div>