
<%= render :partial => 'shared/interior_hero' %>

<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Admin</h6>
    </div>
    
    <div id="interior_sub_head"></div>
    
    <div id="interior_pad">
        <div id="pages_edit">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <th>Edit Page Text:</th>
              </tr>

            <% @pages.each do |page| %>
              <tr>
                <td><%=h page.name %></td>
                <td>| <%= link_to 'Edit', edit_page_path(page) %></td>
              </tr>
            <% end %>
            </table>
        </div><!-- End Pages Edit-->
       
        <div id="other_edit">
            <ul id="admin_list">
                <li><%= link_to 'Edit Current Banner', banners_path %></li>
                <li><%= link_to 'Add/Edit/Remove Products', products_path %></li>
                <li><%= link_to 'Add/Edit Brands', brands_path %></li>
                <li><%= link_to 'Add/Edit/Remove Guests', visitors_path %></li>
                <li><%= link_to 'Edit Categories', categories_path %></li>
                <li><%= link_to 'Add/Edit/Remove Staff', staffs_path %></li>
            </ul>
        </div>
        
        
    
    </div><!-- End Interior Pad-->
    
</div>

    <%= render :partial => 'shared/interior_footer' %>