<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Visitors</p>
    </div>
    
    <div id="cb_header_bg"><p></p></div>

<h1>Listing brands</h1>

<table>
  <tr>
    
    <th>Name</th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
   
    <td><%=h brand.name %></td>
    <td><%= image_tag (brand.photo.url(:thumb))%></td>
    <td><%= link_to 'Show', brand %></td>
    <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
    <td><%= link_to 'Destroy', brand, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New brand', new_brand_path %>


<div id="interior_footer"><p>&copy; EMERALD CITY GUITARS | <%= link_to 'Privacy Policy', privacy_path %> | Site by <%= link_to "Ravenna Interactive", "http://ravennainteractive.com" %></p></div>