<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Brands</h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"></h5></div>
<div id="interior_pad">


<table cellspacing="0" cellpadding="0">
  <tr>
    
    <th>Name</th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
   
    <td><%=h brand.name %></td>
    <td><%= link_to 'Show', brand %> | <%= link_to 'Edit', edit_brand_path(brand) %> | <%= link_to 'Destroy', brand, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New brand', new_brand_path %>

</div>
</div>
<%= render :partial => 'shared/interior_footer' %>