<h1>New brand</h1>

<% form_for @brand, :html => {:multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.label :photo %><br>
      <%= f.file_field :photo %>
      </p>
      
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', brands_path %>