<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">New Brand</h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"></h5></div>
<div id="interior_pad">

<h1>New brand</h1>

<% form_for(@brand) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%=h f.text_field :name %>
  </p>

      
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
    <p><%= link_to 'Back', brands_path %></p>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>