<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    
    <div id="interior_header_absolute">
        <h6 id="int_header"><%= h(@category.name) %></h6>
    </div>
    
    <div id="interior_sub_head">
        <%= will_paginate @products %>
		<h5 id="sub_green_head"><%= @brand.name unless @brand.nil? %></h5>
	
		<div id="sort_form">
        <%- form_for [@category, @brand], :html => {:method => 'get', :id => 'sort_form', :class => 'sort_form'} do -%>
          <label>Sort by: <%= select_tag :order, product_sort_options %></label>
          <%= submit_tag 'Go' %>
        <%- end -%>
        <script type="text/javascript" charset="utf-8">
        (function($){
          var f = $('#sort_form')
          f.find('input[type=submit]').remove();
          f.find('select').change(function(e){
            f.submit();
          });
          
        })(jQuery);
        </script>
		</div>
        

    </div>

    
    <div id="product_listing_container">
        <table id="product_listing" cellspacing="0" cellpadding="0">
				
				
	
              <% @products.in_groups_of(3).each do |products| %>
                <tr valign="top" class="blue">
                <% products.each do |product| %>
                  <td>
                      <% if product.is_a?(Product)%>
                    <!-- Begin Styling for the product listing-->
                      <table class="product" cellspacing="0" cellpadding="0">
                        <tr><td class="product_image">
                            <%= link_to image_tag(product.front_photo.data.url(:catalog)), product unless product.front_photo.nil? %></td><tr>
                         <tr><td class="product_info">
                             <h3><%= link_to product.title, product %></h3><br>
                          <%=h truncate(product.description, 100, "...") %><br>
						<% if logged_in? %> 
							<p>	<%= link_to 'Edit', edit_product_path(product) %> | 
								<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %> </p>
							<% end %>
								

<br> 
                          <h3>$<%= product.price %></h3></td></tr>
                      </table>
                    <!-- End Product listing styling-->
                       
                      <% end %>
                   </td>  
                <% end %>
                </tr>
              <% end %>
        </table>
    </div>
    
   
   <div id="brands_nav_container">
        <%= render :partial => 'shared/brand_list', :object => @category %>
       <div id="brands_listing_bottom"></div>
   </div>
    
    


<p id="clear"></p>
</div>

<%= render :partial => 'shared/interior_footer' %>

