
<%= render :partial => 'shared/interior_hero' %>

<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <p id="int_header">Edit a Category</p>
    </div>
    
    <div id="interior_sub_head"></div>
    
 <div id="interior_pad">


<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
      <%= f.label :url_name %><br>
      <%= f.text_field :url_name %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>

