<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Edit</h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"></h5></div>
<div id="interior_pad">

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
      <%= f.label :price %><br />
      $<%= f.text_field :price %>
    </p>
    <p>
        <%= f.label :category, "Category" %>
        <%= f.select :category, Category.find(:all, :order => 'name').collect { |c| [c.name, c.id] }, :include_blank => true %>
    </p>
    <p>
        <label for="brand">Brand:<br/></label>
        <%= f.select :brand, Brand.find(:all, :order => 'name').collect { |b| [b.name, b.id] }, :include_blank => true %>
    </p>
    
    <div id="add_photo">
         <p><%= f.label 'Add/Remove Photos:' %><br>
         <% f.attachment_fields_for :photos, :data, :new_objects => 0, :js_lib => :jquery do |attachment_fields| %>
     		<%= image_tag(attachment_fields.object.data(:thumb)) unless attachment_fields.object.data.nil? %>

     		<%= attachment_fields.label :data, 'Photo' %>
     		<%= attachment_fields.file_field :data %>
     		<%= attachment_fields.label :front, 'Primary Photo' %>
     		<%= attachment_fields.check_box :front %> |
     		<%= attachment_fields.label :_delete, 'Delete Photo' %>
     		<%= attachment_fields.check_box :_delete  %>
     	<%- end -%>
         </p>
     </div>

   <p>
          <%= f.label :video %><br />
          <%= f.text_area :video %>
   </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>