<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Products</h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"></h5></div>
<div id="interior_pad">

<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Main Image</th>
    <th>Category</th>
    <th>Brand</th>

  </tr>

<% @products.each do |product| %>
  <tr class="<%= cycle("even","odd")%>">
    <td><%=h product.title %></td>
    <td>$<%=h product.price %></td>
    <td><%= image_tag(product.front_photo.data.url(:tiny)) unless product.front_photo.nil? %></td>
    <td><%=h product.category.name unless product.category.nil? %></td>
    <td><%=h product.brand.name unless product.brand.name.nil? %></td>
   

    <td><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
</div>
</div>
<%= render :partial => 'shared/interior_footer' %>