<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header"><%= @product.category.name %></h6>
    </div>
    
    <div id="interior_sub_head"><h5 id="sub_green_head"><%= @product.brand.name %></h5></div>
    
    <div id="cb_header_bg"></div>
<div id="interior_pad">
    
    <div id="one_product">
        <p id="product_main_image"><%= image_tag(@product.front_photo.data.url(:catalog))  unless @product.front_photo.nil?%><p>
        <p id="product_main_text"><b><%= @product.brand.name %> <%=h @product.title %></b> - $<%= @product.price %><br>
        <%= @product.description %></p>
        <p id="clear"></p>
<table id="product_show_thumb">
    <tr>
<% for photo in @product.photos %>
 <td><%= link_to (image_tag(photo.data.url(:tiny)), photo.data.url(:original), :class => "thickbox") -%></td>
<% end %>
    </tr>
</table>
        
        <p>
          Audio Clip:
          <% if @product.audioclip_file_name.nil? -%>
            No Audio Clip.  Check back soon!
          <% else -%>
            <%= link_to 'Listen', @product.audioclip.url -%>
          <% end -%>
        </p>
       
            
        <p><%= @product.video unless @product.nil? %></p>
        </div>

</div>
</div>
<%= render :partial => 'shared/interior_footer' %>